@model Gitara.Models.TowarViewModel

@{
    ViewBag.Title = "Asortyment";
}


<div class="row">
    <div class="col-md-4 col-xs-12" style="background-color: #DDD; border-radius: 10px; margin-bottom: 30px">
        <form class="form-horizontal" style="padding-left: 8px;">
            <div class="form-group">
                <h3>@ViewBag.Kategoria</h3>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Producent, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Producent, Model.Producenci, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MinMax, htmlAttributes: new { @class = "control-label", style = "margin-bottom:30px;" })

                @Html.TextBoxFor(m => m.MinMax, htmlAttributes: new { @class = "form-control" })
            </div>
        </form>
    </div>

    <div id="lista" class="col-md-8 col-xs-12" data-url="@Url.Action("Szukaj")">
        @Html.Partial("Lista", Model.Towary)
    </div>
</div>

@section scripts
{
<script>
        $('#MinMax').jRange({
            from: @Model.Min,
            to: @Model.Max,
            step: 5,
            scale: ['@Model.Min zł','@Model.Max zł'],
            format: '%s zł',
            width: 300,
            showLabels: true,
            isRange: true,
            onstatechange: przeladujListe
    });

    $('#Producent').on('change',przeladujListe);

    function przeladujListe() {
        $.get($('#lista').data('url') + '?kategoria=@ViewBag.KategoriaId&producent=' + $('#Producent').val() + '&minMax=' + $('#MinMax').val(),
            function(data) {
                $('#lista').empty();
                $('#lista').html(data);
            });
    }
</script>

}
